body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td
  margin 0
  padding 0
body, html
  font 14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif
a
  &:link
  &:visited
    color #14191e
    text-decoration none
body, html
  color #14191e
ol,ul,li
  list-style none
.clearfix
  zoom 1
  &:after
    content " "
    clear both
    display block
    overflow hidden
    font-size 0
    height 0

